@media only screen and (max-width: 700px) {
    .searchContainer {
        margin-top: 5vh;
        width: 100vw;
        height: 10vh;
    }
    .searchInput{
        height: 5vh;
        width: 80vw;
    }

    .searchIcon {
        height: 5vh;
        width: 5vh;
    }
}


.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .searchIcon {
    padding: 1em;
    text-transform: capitalize;
    font-style: italic;
    height: 3.5vh;
    width: 3.5vh;
  }
  
  .searchInput {
    border-radius: 1em;
    background-color: var(--color-base-oscuro);
    border: 0;
    height: 3vh;
    width: 15vw;
    padding-left: 0.6em;
    font-weight: 600;
    color: var(--color-base-claro);
    outline: none;
  }

  .searchInput::placeholder{
      font-weight: 400;
      color: var(--color-base-claro);
  }

  .searchInput:hover{
    transform: scale(1.015);
  }

  .searchInput:hover::placeholder{
    font-weight: 400;
    color: var(--color-arena);
}