/* VALIJA */
.contenedor {
  margin: 10px auto;
  border-radius: 5px;
  /* border: 1px solid #999; */
  background: url("../img/svg/valija.svg");
  padding: 13px;
  width: 24em;
  height: 18em;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.contenedorFondo:hover {
  transform: scale(1.015);
  border: 0.15em dashed var(--color-arena);
}

.contenedorFondo {
  background-color: var(--color-gris-claro);
  border-radius: 3em;
  margin: 0.5em;
}

.contenedor img {
  margin-block: 1em;
}

/* TAG */
.tag {
  height: 13em;
  width: 8em;
  background: url("../img/svg/tag.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2em;
  right: 1.7em;
}

.tag img {
  size: 100%;
}

.contenedorNom {
  position: absolute;
  top: 3.3em;
  left: 1.5em;
  height: 7em;
  width: 5em;
  transform: rotate(-8deg);
  /*   background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.datosNom {
  /* background-color: green; */
  text-align: center;
  font-weight: 400;
  color: var(--color-salmon);
  font-size: 1.1em;
  font-family: Caveat, cursive;
}

/* PASS */
.pass {
  height: 10em;
  width: 20em;
  background: url("../img/svg/pasaporte.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 8em;
  left: 1.4em;
}

.pass img {
  size: 100%;
}

.passport {
  position: absolute;
  top: 5.8em;
  left: 0.8em;
  font-size: 1.2em;
  transform: rotate(5deg);
  color: var(--color-celeste-claro);
  font-weight: 500;
  font-stretch: extra-condensed;
  text-transform: uppercase;
}

.bandera {
  position: absolute;
  top: 0.8em;
  left: 1.45em;
  transform: rotate(5deg);
  width: 5em;
}

.continenteName {
  position: absolute;
  font-family: "Permanent Marker", sans-serif;
  color: var(--color-base-oscuro);
  top: 6.55em;
  left: 11em;
  transform: rotate(-10deg);
}

.poblacionTitulo {
  position: absolute;
  top: 11.7em;
  left: 15.4em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-base-oscuro);
}

.poblacion {
  position: absolute;
  top: 12em;
  left: 12em;
  color: var(--color-base-oscuro);
  font-size: 0.9em;
  font-weight: 600;
}

/* responsive */
@media only screen and (max-width: 1377px) {
  .contenedor {
    width: 15em;
    height: 10em;
  }
  .pass {
    top: 3.8em;
    left: 1em;
    height: 7em;
    width: 7em;
  }
  .bandera {
    width: 3em;
    left: 1.2em;
  }
  .passport {
    top: 6.6em;
    font-size: 0.8em;
  }
  .tag {
    top: 1em;
    left: 10.4em;
    width: 5.5em;
  }
  .poblacionTitulo {
    font-size: 0.55em;
    left: 13em;
  }
  .poblacion {
    top: 12.2em;
    font-size: 0.55em;
  }
  .datosNom {
    font-size: 0.7em;
    width: 4.4em;
    /* background-color: tomato; */
  }
  .contenedorNom {
    top: 1em;
    left: 0.25em;
  }
  .continenteName {
    font-size: 0.82em;
    top: 4.35em;
    left: 7.8em;
  }
}
